* {
    box-sizing: border-box;
}

.title {
    display: flex;
    justify-content: center;
    background-color: blue;
    padding: 20px;
    color: white;
}

body {
    height: 100vh;
}

.buttons {
    display: flex;
    align-items: stretch;
    height: 65%;
    justify-content: space-around;
}



/*.lose {
    position: relative;
    top: -45px;
}*/



.buttons button {
    flex: 0 1 95%;
}

img {
    margin: 5px;
}

