* {
    box-sizing: border-box;
}

.title {
    display: flex;
    justify-content: center;
    background-color: rgb(12, 12, 51);
    padding: 20px;
    color: white;
}

body {
    height: 120vh;
    background-color: rgb(211, 212, 222);
}

.user-info {
    margin-left: 10px;
}

.button {
    margin: 8px;

}

.buttons {
    display: flex;
    align-items: stretch;
    height: 65%;
    justify-content: space-around;
}



/*.lose {
    position: relative;
    top: -45px;
}*/



.buttons button {
    flex: 0 1 95%;
}

img {
    margin: 5px;
}

.statement {
    font-size: xx-large;
    color: black;
}


































.title3{
    display: flex;
    justify-content: center;
    background-color: blue;
    padding: 20px;
    color: white;
}

btn{
    display: flex;
    justify-content: center;
}


.buttons button {
    flex: 0 1 95%;
}

img {
    margin: 5px;
}