* {
    box-sizing: border-box;
}

.title {
    display: flex;
    justify-content: center;
    background-color: blue;
    padding: 20px;
    color: white;
}

body {
    height: 100vh;
}

.buttons {
    display: flex;
    align-items: stretch;
    height: 100%;
    justify-content: space-around;
}

.buttons button {
    flex: 0 1 49%;
}
